@use './assets/styles/constants.scss' as *;
@use './assets/styles/toggleswitch.scss';

.app-container {
  display: flex;
  flex-direction: row;
  flex: 1;

  box-sizing: border-box;
  padding: 0 1rem;
  overflow-x: auto;
  overflow-y: auto;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &.dark {
    background-color: $dark-bg;
    color: rgba(255, 255, 255, 0.87);
  }

  &.light {
    background-color: #ffffff;
    color: $lightItemColor;
  }
}

.theme-toggle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

// NAIGATION
#app-body {
  flex: 5;
}

// SIDE PANEL
.sidepanel-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: $bp-tablet) {
  .theme-toggle{
    padding: 0 2rem
  }
  .app-container {
    padding: 0;
  }
}