@use './assets/styles/constants.scss' as *;

.app-container {
  flex: 1;

  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &.dark {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
  }

  &.light {
    background-color: #ffffff;
    color: $lightItemColor;
  }
}

.theme-toggle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (min-width: $bp-tablet) {
  #root {
    padding: 0;
  }
  .app-container {
    padding: 2rem;
  }
}
