@use './constants.scss' as *;
@use 'sass:color';

#app-info-container {
    border: $basicBorder;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: auto;
}

#app-info-github {
    border: $basicBorder;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dark {

    #app-info-container,
    #app-info-github {
        border-color: #333;
    }
}

@media (min-width: $bp-tablet) {
    #app-info-container {
        padding: 1em;
    }

    #app-info-github {
        padding: 0.5em;
    }
}