@use './constants.scss' as *;
@use 'sass:color';

// primary-secondary button
#button-wrapper {
  margin: 1em;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 0.5em;
  width: fit-content;
  padding: 0.5em 1em;

  span {
    font-size: 80%;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .btn-container:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// radio button
#btn-radio-container {
  display: flex;
  flex-direction: row;
}

// button themed colors
.primary-btn {
  background-color: $primaryBlue;
  color: $primaryWhite;
}

.primary-btn:hover {
  background-color: color.adjust($primaryBlue, $lightness: -10%);
  border-color: #646cff;
}

.secondary-btn {
  background-color: $primaryWhite;
  color: $primaryBlue;
  border: 1px solid $primaryBlue;
}

.secondary-btn:hover {
  background-color: color.adjust($primaryBlue, $lightness: 50%);
  border-color: #646cff;
}

.tertiary-btn {
  color: $primaryBlue;
  border-radius: 0;
}

.tertiary-btn:hover {
  color: color.adjust($primaryBlue, $lightness: -20%);
  border-color: transparent;
}

.btn-disable {
  cursor: not-allowed;
  opacity: 0.5;
}
