// screen responsiveness
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1280px;
$bp-large: 1536px;

// colors
$gray: #6f6f76;
$lightgray: #6f6f7652;


// light theme
$lightItemColor: #213547;


// primary buttons
$primaryBlue: #0072ed;
$disabledBlue: 'rgb(0 114 237 / 50%)';
$primaryWhite: #ffffff;
