@use './constants.scss' as *;
@use 'sass:color';

#button-demo-page {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

#button-demo {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

#button-demo-customizable {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 2px 2px 3px 0px $gray;
}

#button-demo-variations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 200px;
  padding: 1.5em;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #fafafa;
}

#buttons-demo-group {
  display: flex;
  flex-direction: row;
}

#config-container {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-right: 1px solid #e0e0e0;
  gap: 0.5em;
}

#type-buttons-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.75em 0;
  border-bottom: 1px solid #eee;
}

#size-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0.75em 0;
  border-bottom: 1px solid #eee;
}

#size-config-wrapper {
  display: flex;
  ;
}

#config-button-types {
  display: flex;
  box-sizing: border-box;
  padding: 0.75em 0;
}

#label-icon-config {
  display: flex;
  flex-direction: column;
}

#icon-config-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0.5em 0;
}

#icon-config {
  display: flex;
  width: 50%;
  justify-content: space-between;

  #icon-container {
    cursor: pointer;
    border-radius: 10%;
    border: 1px solid #eee;
  }

  #icon-container:hover {
    background-color: $lightgray;
  }

  .icon-selected {
    background-color: color.adjust($lightgray, $lightness: -5%);
    border-radius: 4px;
  }
}

#preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 200px;
  padding: 1.5em;
}

#preview-button-demo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: stretch;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5em;
  border: 1px solid #eee;
  background: #fafafa;

  background-image: radial-gradient(circle, #d0d0d0 1px, transparent 1px);
  background-size: 20px 20px;
}

// custom header
#custom-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  align-items: flex-start;
}

// Customize Header and Preview Header
#preview-header,
#config-header {
  display: flex;
  width: 100%;
  align-items: center;
}

// dark mode overrides
.dark {

  #button-demo-variations,
  #config-container,
  #preview-container {
    border-color: #333;
    background: #1e1e1e;
  }

  #preview-button-demo {
    background-image: radial-gradient(circle, #444 1px, transparent 1px);
  }

  #type-buttons-container,
  #size-container {
    border-bottom-color: #333;
  }
}

@media (min-width: $bp-tablet) {
  #button-demo {
    flex-direction: column;
  }

  #config-container {
    flex: 1
  }

  #preview-container {
    flex: 2;
  }

  #icon-config-container {
    margin: 0 1em;
  }

  #label-icon-config {
    flex-direction: row;
  }

  #size-config-wrapper {
    flex-direction: row;

    .textinput-container {
      margin-right: 1em;
    }
  }

  #type-buttons-container {
    flex-direction: row;
  }
}