@use './constants.scss' as *;
@use 'sass:color';

#textarea-variants {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: $bp-tablet) {
    #textarea-variants {
        flex-direction: row;
    }
}