@use './constants.scss' as *;

// text input
#textinput-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0.5em 0;

    input {
        border: 1px solid $gray;
        font-family: inherit;
        color: inherit;

        &:focus {
            border: 1px solid #0072ed;
            outline: none;
        }
    }
}
