@use './constants.scss' as *;

// text input
.textinput-container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0.5em 0;
  width: 50%;

  input {
    font-family: inherit;
    color: $lightItemColor;
    border: $inputBorder;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;

    &:focus {
      border: 1px solid #0072ed;
      outline: none;
    }
  }
}

.textlabel-container {

  #icon-container {
    margin-right: 0.5em;
  }
}

.horizontal-disp {
  flex-direction: row;
  align-items: center;
  margin-right: 1vw;

  .textlabel-container {
    margin-right: 1em;
  }
}

.vertical-disp {
  flex-direction: column;
  justify-content: space-between;
}

// text label
.textlabel-container {
  display: flex;
  box-sizing: border-box;

  span {
    text-align: left;
    // margin-bottom: 3px;
  }
}

.textlabel-xlarge {
  font-size: x-large;
  font-weight: bold;
}

.textlabel-large {
  font-size: large;
  font-weight: bold;
}

.textlabel-medium {
  font-size: medium;
  font-weight: bold;
}

.textlabel-small {
  font-size: small;
}

.textlabel-xsmall {
  font-size: x-small;
}