@use './constants.scss' as *;

// text input
.textinput-container {
  display: flex;
  // flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0.5em 0;

  input {
    border: 1px solid $gray;
    font-family: inherit;
    color: inherit;

    &:focus {
      border: 1px solid #0072ed;
      outline: none;
    }
  }
}

.horizontal-disp {
  flex-direction: row;

  #textlabel-container{
    margin-right: 1em;
  }
}

.vertical-disp {
  flex-direction: column;
}

// text label
#textlabel-container {
  display: flex;
}

#textlabel-xlarge {
  font-size: x-large;
  font-weight: bold;
}

#textlabel-large {
  font-size: large;
  font-weight: bold;
}

#textlabel-medium {
  font-size: medium;
  font-weight: bold;
}

#textlabel-small {
  font-size: small;
}